<%= form_with(model: lable, local: true) do |form| %>
  <% if lable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lable.errors.count, "error") %> prohibited this lable from being saved:</h2>

      <ul>
      <% lable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lable_name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :lable_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
