<p id="notice"><%= notice %></p>

<h1>Lables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lables.each do |lable| %>
      <tr>
        <td><%= lable.name %></td>
        <td><%= lable.number %></td>
        <td><%= link_to 'Show', lable %></td>
        <td><%= link_to 'Edit', edit_lable_path(lable) %></td>
        <td><%= link_to 'Destroy', lable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lable', new_lable_path %>
