<%= simple_form_for(@article, html: { multipart: true, class: "form-horizontal" }) do |f| %>
<%= f.input :title, label: "文章标题" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group text required page_content">
    <label class="text  col-sm-2 control-label" for="page_content">
      文章内容
    </label>
    <div class="col-sm-10">
      <script type="text/plain" id="contentEditor" name="article[content]" id="article_content" style="width:98%;height:600px;"><%= raw(@article.content) %></script>
    </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<% if !@article.pictures.blank? %>
    <div class="form-group">
      <label class="col-sm-2 control-label">图片</label>
      <div class="col-sm-10">
        <% @article.pictures.each do |p| %>
          <img src="<%= p.image.url %>" class="img-thumbnail" id="<%= p.id %>" height="18%" width="18%" >
          <a class="btn btn-default btn-xs" rel="nofollow" data-method="delete" href="/pictures/<%= p.id %>/del" id="<%= p.id %>btn">删除</a>
        <% end %>
      </div>
    </div>
<% end %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="col-sm-offset-2">
      <%= f.fields_for :pictures do |p| %>
        <div class="field">
         <%= p.label "上传图片" %>
         <%= p.file_field :image, :multiple => true, name: "pictures[image][]" %>
        </div>
      <% end %>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group string optional">
    <label class="col-sm-2 control-label string optional">
    文章标签
    </label>
    <div class="col-sm-10">
      <input class="input-tags demo-default" type="text" name="article[tags]" id="input-tags" value="<%= @labels %>">
    </div>
  </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<%= f.input :from, label: "文章来源" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<%= f.input :view_count, label: "点击次数" %>

<%#= f.input :active, as: :boolean, html: true,  label: "活动宣传图片" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="col-sm-10 col-sm-offset-2">
  <%= f.button :submit, "提 交", class: "btn btn-primary" %>
  <%= link_to "返 回", articles_path, class: "btn btn-default" %>
</div>
<% end %>
<%= content_for :style do %>
  <link href="/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<% end %>

<% content_for :script do %>
  <script type="text/javascript" charset="utf-8" src="/umeditor/umeditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/umeditor/umeditor.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/umeditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript">
    var um1 = UM.getEditor('contentEditor');
  </script>
  <% end %>

  <!-- 隐藏图片 -->
<% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function(){
      <% @article.pictures.all.each do |picture| %>
      $("#<%= picture.id %>btn").click(function(){
        $("#<%= picture.id %>").hide();
        $("#<%= picture.id %>btn").hide();
      });
      <% end %>
    });
  </script>
<% end %>
<% content_for :script do %>
<script>
        $('.input-tags').selectize({
          plugins: ['remove_button'],
          persist: false,
          create: true,
          render: {
            item: function(data, escape) {
              return '<div>"' + escape(data.text) + '"</div>';
            }
          },
        });
        </script>
<% end %>