<div class="panel panel-default">
  <form action="/articles" method="get">
    标题
    <input type="text" id='title' name="title" value="<%= params[:title]%>">
    内容
    <input type="text" id='content' name="content" value="<%= params[:content] %>">
    <input type="submit" name="" value="搜索">
  </form>
  <div class="panel-heading">
    文章列表
    <% if can? :create, Article %>
    <div class="pull-right">
      <%= link_to "新建文章", new_article_path, class: "btn btn-primary btn-xs" %>
    </div>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>标题</th>
          <th>内容</th>
          <th>来源</th>
          <th>点击次数&nbsp;
            <a href="">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
            </a>
            <a href="">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
            </a>
          </button>
          </th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@articles) %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%#= paginate @users, views_prefix: 'admin',theme: 'angulr' %>
    <%= render partial: "shared/admin/paginate", locals: { object: @articles } %>
  </footer>
</div>

<!-- <script type="text/javascript">
  function search() {
    var title = $('#title').val()
    var content = $('#content').val()
    window.location.href = "'/articles?title=' + title + '&' + 'content=' + content"
  }
</script> -->