<p id="notice"><%= notice %></p>

<h1>Wx Publics</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Manager</th>
      <th>Alias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wx_publics.each do |wx_public| %>
      <tr>
        <td><%= wx_public.nickname %></td>
        <td><%= wx_public.manager %></td>
        <td><%= wx_public.alias %></td>
        <td><%= link_to 'Show', wx_public %></td>
        <td><%= link_to 'Edit', edit_wx_public_path(wx_public) %></td>
        <td><%= link_to 'Destroy', wx_public, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wx Public', new_wx_public_path %>
