<%= simple_form_for(@label, html: { multipart: true, class: "form-horizontal" }) do |f| %>
<%= f.input :name, label: "标签名" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<%= f.input :used_count, label: "使用次数" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<%= f.input :active, label: "激活状态" %>
<%#= f.input :active, as: :boolean, html: true,  label: "活动宣传图片" %>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="col-sm-10 col-sm-offset-2">
  <%= link_to "返 回", labels_path, class: "btn btn-default" %>
</div>
<% end %>
