<div class="panel panel-default">
  <form action="/pictures" method="get">
      <div class="input-group col-md-3" style="margin-top:15px ">
        <input type="text" class="form-control" placeholder="请输入关键字" id='search' name="search" value="<%= params[:search]%>"/ >
          <span class="input-group-btn">
            <input class="btn btn-info btn-search" type="submit" name="" value="搜索">
          </span>
      </div>
    </form>
  <div class="panel-heading">
        图片列表
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>文章</th>
          <th>图片</th>
          <th style="width:120px;">创建时间</th>
          <% if can? :update, Picture %>
          <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @pictures.each do |picture| %>
        <tr>
          <td><%= picture.article.blank? ? "" : picture.article.title %></td>
          <td><img src="<%= picture.image.url %>" class="img-thumbnail" width="300px" height="300px"/></td>
          <td><%= picture.created_at.strftime("%F %T")%></td>
          <% if can? :update, Picture %>
          <td>
            <%= link_to "删除", picture_path(picture), method: :delete, class: "btn btn-default btn-xs" %>
          </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%#= paginate @users, views_prefix: 'admin',theme: 'angulr' %>
    <%= render partial: "shared/admin/paginate", locals: { object: @pictures } %>
  </footer>
</div>